$TTL 86400
@	IN	SOA	{{ dns_server }}.{{ dns_zone }}.	root.{{ dns_zone }}.	(
		2017071202
		3600
		1800
		604800
		86400
)
		IN	NS	{{ dns_server }}.{{ dns_zone }}.
53		IN	PTR	dnsmaster.mkdev.
105		IN	PTR	workspace.mkdev.
104		IN	PTR	nexus.mkdev.
